.slid-s {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://m.media-amazon.com/images/M/MV5BNTViYjI5M2MtNDYzZS00MDZkLTkzOWItMzkyM2FmMDhhZjc4XkEyXkFqcGdeQXVyNDg4MjkzNDk@._V1_.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  background-color: #000016;
  width: 100%;
  position: fixed;
  z-index: 22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 200px;
}

.nav > .dropdown {
  position: relative;
  display: inline-block;
  padding-left: 30px;
}

.nav > .dropdown .dropbtn {
  color: chocolate;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.nav > .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #948979;
  min-width: 120px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav > .dropdown .dropdown-content a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  display: block;
  padding: 10px 20px;
}

.nav > .dropdown .dropdown-content a:hover {
  background-color: chocolate;
}

.nav > .dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.logo {
  color: #0e46a3;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 700;
}

.nav > a {
  color: chocolate;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
nav > a:hover,
nav > .dropbtn:hover {
  color: #0ca157;
}
.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
  transition: 2s;
}

/* Rest of your CSS styles */

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: 400px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.title {
  display: flex;
  justify-content: center;
  color: #f1eedc;
  font-weight: 800;
  font-size: 2.2em;
  margin-bottom: 0px;
}
.card-s {
  background-color: #322c2b;
  padding-top: 50px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 100px;
}

.card {
  width: 325px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.6s;
}

.card:hover {
  transform: translateY(-20px);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;
}

.card-button {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px 16px;
}
* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  box-sizing: border-box;
}
body {
  background: #1e1f21;
  color: #fff;
}
.wrapper {
  padding: 10px 10%;
}
#card-area {
  padding-bottom: 50px;
}
.box-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.box {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.overlay {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #1c1c1c 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.overlay h3 {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 80%;
  font-family: bebas neue;
  font-size: 30px;
  letter-spacing: 2px;
}
.overlay a {
  margin-top: 10px;
  clear: #262626;
  text-decoration: none;
  font-size: 14px;
  background: #fff;
  border-radius: 50px;
  text-align: center;
  padding: 5px 15;
}
.box img {
  transform: scale(1.2);
}
.box:hover .overlay {
  height: 100%;
}
#P {
  margin-top: 30px;
}

.footer {
  background-color: #948979;
  color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.FOOTR-TITLE {
  font-size: 1.4em;
  font-weight: 600;
}

.FOOTR-TITLE span {
  color: #45bfbf;
}
.footer .social-icons a {
  font-size: 1.4em;
  padding: 0 12px 0 0;
}
